{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Email Spam Detection</title>
</head>
<body>
  <div class='heading'>
    <h2>Email Spam Detection</h2>
  </div>
  <div>
    <form method="post">
      <div>
        {% csrf_token %}
        {{ form}}
      
        <br>
        <button class= 'qww' type="submit">Check Spam</button>
    </form>

    {% if result %}
        <h3 class='box'>Result: {{ result }}</h3>
    {% endif %}

    <p>-----------------Limited-trained-data-------------</p>
</body>
</html>


